* {
    margin: 0;
    padding: 0;
}

.top {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    padding-top: 30px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.link {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: flex-end;
}

.logo, .link {
    width: 400px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px
} 

.content {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
    
}

img {
   height: auto;
   width: 400px;
}

.left {
    width: 400px;
}

.head {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.face {
    padding: 0 40px;
}

.up {
    background-color: #3882F6;
    color: white;
    padding: 8px 30px;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 10px;
}