* {
    margin: 0;
    padding: 0;
}

.top {
    background-color: #1F2937;
    color: white;
    height: 550px;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    padding-top: 30px;
}

.logo {
    font-size: 26px;
    color: #F9FAF8;
    font-weight: bolder;
}

.link {
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    font-size: large;
}

.logo, .link {
    width: 400px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px
} 

.content {
    display: flex;
    justify-content: space-around;
    
}

img {
   height: auto;
   width: 400px;
}

.left {
    width: 400px;
}

.head {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.face {
    padding: 0 40px;
}

.up {
    background-color: #3882F6;
    color: white;
    padding: 8px 30px;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 10px;
    font-size: large;
}

.topic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.blue {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    border: skyblue solid;
}

.info {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.unit {
    width: 150px;
}

.container {
    height: 500px;
}

.knowledge {
    height: 450px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    width: 850px;
}

.quoter {
    align-self: flex-end;
    width: 850px;
    font-size: 30px;
    font-weight: 900;
}

.bottom {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup {
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    height: 180px;
    width: 1150px;
    align-items: center;
    border-radius: 20px;
    color: white;
    
}

.down {
    background-color: #3882F6;
    color: white;
    padding: 8px 34px;
    font-weight: bold;
    border-radius: 6px;
    font-size: large;
    border:solid white;

}

.action {
    font-size: 30px;
    font-weight: 900;
}

.text {
    font-size: large;
}

.footer {
    height: 100px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}